@import "../../styling/variables";

.jumbotron_container {
  background-color: $morentBlue;
  width: 100%;
  height: 360px;
  position: relative;
  padding: 1rem 2.2rem;
  border-radius: 6px;

  @media (max-width: 768px) {
    width: 90%;
  }

  .jumb_backdrop {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      z-index: -999;
    }
  }

  .jumb_details_container {
    z-index: 3;
    height: 100%;
    .jumbotron_details {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      color: $morentWhite;
      gap: 0;

      @media (max-width: 768px) {
        width: 100%;
      }

      h2 {
        font-weight: 500;
        text-align: start;
        width: 90%;
        font-size: 32px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        text-align: start;
        line-height: 1.5;
        margin-top: -10px;
      }
    }
  }

  .jumb_img {
    margin-top: 25px;
    width: 406px;
    height: 111px;
    z-index: 999;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
