@import "../../styling/variables";

// CategoryFilter.scss
.category_filter {
  .content_wrapper {
    display: flex;
    flex-wrap: wrap;

    .sidebar {
      flex: 1;
      min-width: 250px;
      margin-right: 1rem;
      background-color: #f4f4f4;
      padding: 1rem;
    }

    .main_content {
      padding: 3rem;
      flex: 3;
      min-width: 300px;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      row-gap: 3rem;
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .category_filter {
    .content_wrapper {
      flex-direction: column;

      .sidebar {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
