.car-display {
  margin-top: 20px;
  .rentbtn1,
  .rentbtn2 {
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: #5a5a5a;
      color: white;
    }
  }

  .rentbtn1 {
    background-color: #3563e9;
  }

  .rentbtn2 {
    background-color: #54a6ff;
  }
  .car-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: 998px) {
      flex-direction: column;
      width: auto;
    }
  }
  .car1d {
    margin-top: 20px;
    position: relative;
    background-color: none;
    gap: 10px;

    .innercar {
      position: absolute;
      top: 5px;
      left: 10px;
      width: auto;
      height: auto;
    }
    .fastcar {
      position: absolute;
      bottom: 10px;
      left: 150px;
      width: auto;
      height: auto;
    }
    h1,
    p,
    button {
      margin-top: 10px;
      color: white;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 22px;
      font-weight: 600;
    }
    p,
    button {
      font-size: 17px;
    }
  }
  @media screen and (max-width: 767px) {
    .car-cards {
      .car1d {
        .innercar {
          position: absolute;
          top: 0.5px;
          left: 10px;
          width: auto;
          height: auto;
          p {
            font-size: 15px;
          }
          h1 {
            font-weight: 600;
            font-size: 20px;
          }
        }
        .fastcar {
          position: absolute;
          bottom: 5px;
          left: 130px;
          width: auto;
          height: auto;
        }
      }
    }
  }
}

.offup {
  margin-top: 20px;

  .picku {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px; /* Adjust the size of the circle */
      height: 50px;
      border-radius: 50%; /* Circle shape */
      background-color: #3563e9; /* Circle background color */
      color: white; /* Icon color */
      font-size: 24px; /* Icon size */
      z-index: 1;
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;
      &::before {
        background: radial-gradient(
          circle at center,
          rgba(0, 123, 255, 0.5),
          transparent
        );
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: -1;
        content: "";
      }
      &:hover:before {
        opacity: 1;
      }

      &:hover {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5),
          0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.5);
      }

      &:active {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5),
          0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.5);
      }
    }

    .card {
      flex: 1 1 100%;
      padding: 10px 20px;
      margin-bottom: 10px;

      .topradio {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        .sections {
          flex: 1;
          min-width: 120px; /* Ensure a minimum width for sections */
          p {
            font-size: 16px;
            font-weight: 400;
          }

          .pwords {
            color: #acbacf;
          }
        }

        .vertical-line {
          border-left: 1px solid #e7eef6; /* Line width and color */
          height: 50px; /* Line height */
          margin: 0 5px; /* Optional spacing */
        }
      }
    }

    @media screen and (max-width: 998px) {
      flex-direction: column;
      width: 100%;

      .card-body {
        flex-direction: row;
        align-items: stretch;

        .vertical-line {
          display: none;
        }

        .sections {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .arrows {
        display: none;
      }
    }
  }
}

.popularHead {
  margin-top: 20px;
  .dhead {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    h5 {
      color: #90a3bf;
    }
    p {
      color: #3563e9;
    }
  }
  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }
}

.PopularCar {
  margin-top: 20px;
  .card-tagss {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    .icard {
      flex: 1 1 45%; /* Flex-grow and flex-basis for responsiveness */
      margin: 10px; /* Added margin for better spacing */
      .card {
        height: 435px;
        .card-body {
          .first {
            margin-top: 10px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .first-sect {
              h4 {
                color: #1a202c;
              }
              p {
                color: #90a3bf;
              }
            }
          }
          img {
            margin-top: 10px;
            width: 100%; /* Ensures the image takes full width */
          }
          .first-icons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .icons {
              display: flex;
              align-items: baseline;
              gap: 3px;
              color: #90a3bf;
            }
          }
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align items vertically */
            margin-top: 20px;
            p {
              color: #90a3bf;
              span {
                color: #1a202c;
              }
            }
            button {
              color: #fff;
              background-color: #3563e9;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
            button:hover {
              background-color: #5074c2;
            }
          }
          s {
            color: #90a3bf;
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .card-tagss {
      flex-wrap: wrap; /* Added for responsiveness */
      flex-direction: column;
      display: flex;
      .icard {
        flex: 1 1 100%; /* Full width for small screens */
        margin: 10px;
        .card {
          height: 460px;
          .card-body {
            .first {
              flex-direction: row;
              margin-bottom: 10px;
            }
            .first-icons {
              margin: 10px 0px;
              .icons {
                align-items: baseline;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1250px) {
    .card-tagss {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      flex-wrap: wrap;
      .icard {
        .card {
          height: 435px;
        }
      }
    }
  }
  @media screen and (max-width: 435px) {
    .card-tagss {
      .icard {
        .card {
          height: 455px;
        }
      }
    }
  }
}

.recommend {
  margin-top: 20px;
  .card-tag {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    .icard {
      flex: 1 1 45%; /* Flex-grow and flex-basis for responsiveness */
      margin: 10px; /* Added margin for better spacing */
      .card {
        height: 435px;
        .card-body {
          .first {
            margin-top: 10px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .first-sect {
              h4 {
                color: #1a202c;
              }
              p {
                color: #90a3bf;
              }
            }
          }
          img {
            margin-top: 10px;
            width: 100%; /* Ensures the image takes full width */
          }
          .first-icons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .icons {
              display: flex;
              align-items: baseline;
              gap: 3px;
              color: #90a3bf;
            }
          }
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align items vertically */
            margin-top: 20px;
            p {
              color: #90a3bf;
              span {
                color: #1a202c;
              }
            }
            button {
              color: #fff;
              background-color: #3563e9;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
            button:hover {
              background-color: #5074c2;
            }
          }
          s {
            color: #90a3bf;
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .card-tag {
      flex-wrap: wrap; /* Added for responsiveness */
      flex-direction: column;
      display: flex;
      .icard {
        flex: 1 1 100%; /* Full width for small screens */
        margin: 10px;
        .card {
          height: 550px;
          .card-body {
            .first {
              flex-direction: row;
              margin-bottom: 10px;
            }
            .first-icons {
              margin: 10px 0px;
              .icons {
                align-items: baseline;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 435px) {
    .card-tag {
      .icard {
        .card {
          height: 455px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1250px) {
    .card-tag {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
      flex-wrap: wrap;
      .icard {
        .card {
          height: 455px;
        }
      }
    }
  }
}

.showmore {
  margin-top: 20px;
  // display: flex;
  text-align: center;
  .showmore-btn {
    color: #fff;
    background-color: #3563e9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .showmore-btn:hover {
    background-color: #5074c2;
  }
}

.sidebar {
  position: absolute;
  top: 110px;
  left: 0;
  width: 300px;
  height: 70vh;
  z-index: 0;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  .sidebar-first,
  .sidebar-second,
  .sidebar-third {
    margin-bottom: 20px;
    margin-top: 10px;
    h5 {
      margin-bottom: 10px;
      color: #90a3bf;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      div {
        input {
          margin-right: 10px;
        }
        label {
          margin-right: 20px;
          color: #596780;
          span {
            margin-left: 10px;
            color: #90a3bf;
          }
        }
      }
    }
    p {
      margin-bottom: 10px;
      color: #596780;
    }
  }
  @media screen and (min-width: 701px) and (max-width: 1024px) {
    width: 210px;
  }
  @media screen and (max-width: 700px) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    .sidebar-first,
    .sidebar-second,
    .sidebar-third {
      margin-bottom: 20px;
      float: left;
    }
  }
  @media screen and (max-width: 430px) {
    .sidebar-first,
    .sidebar-second,
    .sidebar-third {
      text-align: left;
      float: none;
    }
  }
}

.content {
  margin-left: 100px;
  padding: 1px 16px;
  // height: 1000px;
  .card-tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    .icard {
      flex: 1 1 45%; /* Flex-grow and flex-basis for responsiveness */
      margin: 10px; /* Added margin for better spacing */
      .card {
        height: 435px;
        .card-body {
          .first {
            margin-top: 10px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .first-sect {
              h4 {
                color: #1a202c;
              }
              p {
                color: #90a3bf;
              }
            }
          }
          img {
            margin-top: 10px;
            width: 100%; /* Ensures the image takes full width */
          }
          .first-icons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .icons {
              display: flex;
              align-items: baseline;
              gap: 3px;
              color: #90a3bf;
            }
          }
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align items vertically */
            margin-top: 20px;
            p {
              color: #90a3bf;
              span {
                color: #1a202c;
              }
            }
            button {
              color: #fff;
              background-color: #3563e9;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
            button:hover {
              background-color: #5074c2;
            }
          }
          s {
            color: #90a3bf;
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .card-tags {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap; /* Added for responsiveness */
      .icard {
        flex: 1 1 100%; /* Full width for small screens */
        margin: 10px;
        .card {
          .card-body {
            .first {
              flex-direction: row;
              margin-bottom: 10px;
            }
            .first-icons {
              margin: 10px 0px;
              .icons {
                align-items: baseline;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-tags {
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
      .icard {
        .card {
          height: 560px;
        }
      }
    }
  }
  @media screen and (max-width: 435px) {
    .card-tags {
      .icard {
        .card {
          height: 435px;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    margin-left: 0;
  }
}

.offup2 {
  margin-top: 20px;
  margin-left: 100px;
  padding: 1px 16px;
  .picku {
    display: flex;
    width: 100%;
    gap: 3px;
    align-items: center;
    justify-content: space-between;

    .arrows {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px; /* Adjust the size of the circle */
      height: 50px;
      border-radius: 50%; /* Circle shape */
      background-color: #3563e9; /* Circle background color */
      color: white; /* Icon color */
      font-size: 24px; /* Icon size */
      z-index: 1;
      transition: box-shadow 0.3s ease-in-out;
      cursor: pointer;
      &::before {
        background: radial-gradient(
          circle at center,
          rgba(0, 123, 255, 0.5),
          transparent
        );
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: -1;
        content: "";
      }
      &:hover:before {
        opacity: 1;
      }

      &:hover {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5),
          0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.5);
      }

      &:active {
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.5),
          0 0 40px rgba(0, 123, 255, 0.5), 0 0 60px rgba(0, 123, 255, 0.5);
      }
    }

    .card {
      flex: 1 1 100%;
      padding: 10px 20px;
      margin-bottom: 10px;

      .topradio {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        .sections {
          flex: 1;
          min-width: 120px; /* Ensure a minimum width for sections */
          p {
            font-size: 16px;
            font-weight: 400;
          }

          .pwords {
            color: #acbacf;
          }
        }

        .vertical-line {
          border-left: 1px solid #e7eef6; /* Line width and color */
          height: 50px; /* Line height */
          margin: 0 5px; /* Optional spacing */
        }
      }
    }

    @media screen and (max-width: 998px) {
      flex-direction: column;
      width: 100%;

      .card-body {
        flex-direction: row;
        align-items: stretch;

        .vertical-line {
          display: none;
        }

        .sections {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .arrows {
        display: none;
      }
    }
  }
}

.cardetails {
  padding: 1px 16px;
  margin-left: 100px;

  .details-card {
    display: flex;
    gap: 20px;
    width: auto;

    .cata-image {
      width: 100%;
      position: relative;

      .theimg {
        position: relative;
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 10px;
        min-height: 300px;

        h5,
        p {
          position: absolute;
          color: white;
          margin-bottom: 15px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 5px;
          border-radius: 5px;
          width: fit-content;
        }

        h5 {
          top: 40px;
          left: 20px;
        }

        p {
          top: 120px;
          left: 20px;
        }
      }

      .changed-image {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-top: 10px;

        img {
          width: 25%;
          cursor: pointer;
          border-radius: 10px;
          transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s;
        }
        img:hover {
          transform: scale(1.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border: 5px solid #007bff;
        }
      }
    }

    .card {
      width: 100%;

      .card-body {
        .cata-p {
          padding: 20px;

          .cata-header {
            display: flex;
            justify-content: space-between;
            align-items: start;

            .cata-head {
              h4 {
                font-size: 24px;
                margin-bottom: 10px;
              }

              .starating {
                display: flex;
                gap: 5px;

                p {
                  margin-left: 10px;
                  font-size: 14px;

                  span {
                    font-size: 10px;
                  }
                }
              }
            }

            svg {
              cursor: pointer;
              font-size: 24px;
            }
          }

          p {
            margin-bottom: 20px;
            font-size: 16px;
          }

          .cata-more {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
            margin-bottom: 20px;

            .cata-type {
              flex: 1;
              padding: 10px;
              text-align: center;
              display: flex;
              justify-content: space-between;
              gap: 20px;

              span {
                font-weight: 300;
                color: #a5b4cb;
              }

              p {
                margin: 5px 0;
                color: #596780;
                font-weight: bolder;
              }
            }
          }

          .cata-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cata-price {
              p {
                font-size: 18px;
                font-weight: bolder;
                margin: 0;
                color: #1a202c;

                span {
                  font-size: 14px;
                  color: #90a3bf;
                }

                s {
                  color: #90a3bf;
                }
              }
            }

            button {
              background-color: #007bff;
              color: #fff;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s;

              &:hover {
                background-color: #0056b3;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .details-card {
      flex-direction: column;
      gap: 20px;
    }

    .cata-image,
    .card {
      width: 100%;
    }

    .theimg {
      h5,
      p {
        text-align: center;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1240px) {
    .details-card {
      flex-direction: column;
      gap: 20px;
    }
  }

  @media screen and (max-width: 576px) {
    .cata-more {
      grid-template-columns: 1fr;
      gap: 10px;
      .cata-type {
        justify-content: space-between;
        flex-direction: column;
      }
    }

    .changed-image {
      flex-direction: row;
      img {
        width: 100%;
      }
    }
  }
}

.star-rating {
  display: flex;
  direction: row;

  .star {
    cursor: pointer;
    transition: color 0.2s;
  }

  input {
    display: none;
  }
}

.carreview {
  padding: 20px;
  margin-left: 100px;

  h3 {
    color: #1a202c;
    font-weight: 600;
    margin-bottom: 10px;

    span {
      border-radius: 5px;
      padding: 5px;
      color: #fff;
      background-color: #3563e9;
    }
  }
  .showall {
    text-align: center;
    color: #90a3bf;
    margin-top: 10px;
    cursor: pointer;
  }

  .review-box {
    display: flex;
    margin-bottom: 10px;
    img {
      width: 5%;
      height: 5%;
    }

    .container {
      p {
        color: #6e7a90;
      }

      .review {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
        .identity {
          h3 {
            color: #1a202c;
          }
          p {
            color: #90a3bf;
          }
        }

        .date {
          h3 {
            color: #1a202c;
          }
          p {
            color: #90a3bf;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: auto;
    .review-box {
      img {
        width: 10%;
        height: 10%;
      }
    }
  }
}

.recentCar {
  margin-left: 100px;
  padding: 1px 16px;
  // height: 1000px;
  .card-tagss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    .icard {
      flex: 1 1 45%; /* Flex-grow and flex-basis for responsiveness */
      margin: 10px; /* Added margin for better spacing */
      .card {
        height: 435px;
        .card-body {
          .first {
            margin-top: 10px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .first-sect {
              h4 {
                color: #1a202c;
              }
              p {
                color: #90a3bf;
              }
            }
          }
          img {
            margin-top: 10px;
            width: 100%; /* Ensures the image takes full width */
          }
          .first-icons {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .icons {
              display: flex;
              align-items: baseline;
              gap: 3px;
              color: #90a3bf;
            }
          }
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align items vertically */
            margin-top: 20px;
            p {
              color: #90a3bf;
              span {
                color: #1a202c;
              }
            }
            button {
              color: #fff;
              background-color: #3563e9;
              border: none;
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
            button:hover {
              background-color: #5074c2;
            }
          }
          s {
            color: #90a3bf;
            font-size: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .card-tagss {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap; /* Added for responsiveness */
      .icard {
        flex: 1 1 100%; /* Full width for small screens */
        margin: 10px;
        .card {
          .card-body {
            .first {
              flex-direction: row;
              margin-bottom: 10px;
            }
            .first-icons {
              margin: 10px 0px;
              .icons {
                align-items: baseline;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-tagss {
      flex-direction: column;
      flex-wrap: wrap;
      display: flex;
      .icard {
        .card {
          height: 500px;
        }
      }
    }
  }
  @media screen and (max-width: 435px) {
    .card-tagss {
      .icard {
        .card {
          height: 435px;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    margin-left: 0;
  }
}

.payment {
  margin-right: 600px;
  margin-top: 10px;
  .card {
    border: none;
    .card-body {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        p {
          color: #90a3bf;
        }
        h4 {
          color: #1a202c;
        }
      }
      .dforms {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        justify-content: space-between;

        form {
          flex-direction: column;
          display: flex;
          margin-top: 10px;
          justify-content: space-between;
          label {
            font-weight: 600;
          }
          input {
            margin: 5px 20px;
            padding: 12px 20px;
            border: 1px solid #90a3bf;
            border-radius: 10px;
          }
          ::placeholder {
            color: #90a3bf;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-right: 0;
    .card {
      .card-body {
        .header {
          flex-direction: column-reverse;
          display: flex;
        }
        .dforms {
          flex-direction: column;
          display: flex;
          form {
            flex-direction: column;
            display: flex;
          }
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1240px) {
    margin-right: 0;
    .card {
      .card-body {
        .header {
          flex-direction: column-reverse;
          display: flex;
        }
        .dforms {
          flex-direction: column;
          display: flex;
          form {
            flex-direction: column;
            display: flex;
          }
        }
      }
    }
  }
}

.offup3 {
  padding: 20px;

  .picku {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      background-color: #fff;

      .topradio {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        h5 {
          font-size: 1.2rem;
          margin: 0;
        }

        input[type="radio"] {
          accent-color: #007bff;
          width: 20px;
          height: 20px;
        }
      }

      .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .sections {
          flex: 1;

          p {
            margin: 0;
            font-weight: bold;

            &.pwords {
              display: flex;
              align-items: center;
              gap: 5px;
              color: #007bff;
              cursor: pointer;
            }
          }
        }

        .vertical-line {
          width: 1px;
          height: 50px;
          background-color: #e0e0e0;
        }
      }
    }

    .picku-card {
      background-color: #f9f9f9;
    }
  }
}

.pmethod{
  .container{
    .heading{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .pheader{
        font-size: 20px;
      }
    }
    .card{
      .card-body{
        .payments{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: space-between;
        }
      }
    }
  }
}

.confirmation{
  margin-bottom: 10px;
.confirmation-content{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  .heading{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #acbacf;
    margin-bottom: 10px;
    .pheader{
      h3{
        color: #1a202c;
      }
    }
  }
  .card {
    border: none;
    .card-body {
      .first-div, .second-div{
        display: flex;
        gap: 20px;
        align-items: baseline;
        padding: 5px 10px;
        background-color: #f6f7f6;
        border-radius: 10px;
        margin-bottom: 10px;
        input{
          margin: 10px;
          cursor: pointer;
        }
      }
    }
  }
  button{
    margin-top: 20px;
    padding: 10px 10px;
    margin: 10px;
    width: 15%;
    color: white;
    background-color: #3563e9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: #2a4e9c;
  }
  img{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  h4, p {
    margin: 0;
  }
}
}


