.popularcar {
    margin-top: 10px;
    width: auto;
    .card-tags1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr); // 4 columns grid
      gap: 10px; // Gap between grid items
  
      .icard {
        .card {
          height: 100%; // Adjust as needed
          border: 1px solid #ccc;
          border-radius: 8px;
          overflow: hidden;
  
          .card-body {
            padding: 20px;
  
            .first {
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              .first-sect {
                h4 {
                  color: #1a202c;
                  margin-bottom: 5px;
                }
                p {
                  color: #90a3bf;
                  margin-bottom: 10px;
                }
              }
            }
  
            img {
              width: 100%;
              height: auto;
              transition: transform 0.3s ease;
  
              &:hover {
                transform: scale(1.1);
              }
            }
  
            .first-icons {
              display: flex;
              justify-content: space-between;
              margin-top: 15px;
  
              .icons {
                display: flex;
                align-items: baseline;
                margin: 10px 0;
                p {
                    color: #90a3bf;
                  }
                svg {
                  margin-right: 5px;
                  color: #90a3bf;
                }
              }
            }
  
            .price {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 15px 0;
  
              p {
                color: #90a3bf;
  
                span {
                  color: #1a202c;
                }
              }
  
              button {
                background-color: #3563e9;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s ease;
  
                &:hover {
                  background-color: #5074c2;
                }
              }
            }
  
            s {
              color: #90a3bf;
              font-size: 14px;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 1200px) {
      .card-tags1 {
        grid-template-columns: repeat(3, 1fr); // 3 columns on medium screens
      }
    }
  
    @media screen and (max-width: 768px) {
      .card-tags1 {
        grid-template-columns: repeat(2, 1fr); // 2 columns on small screens
      }
    }
  
    @media screen and (max-width: 480px) {
      .card-tags1 {
        grid-template-columns: repeat(1, 1fr); // 1 column on extra small screens
      }
    }
  }