@import "../../styling/variables";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  background: $morentWhite;

  @media (max-width: 768px) {
    padding: 28px 35px;
  }

  .navbar_logo_search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    span {
      font-size: 32px;
      font-weight: bold;
      color: $morentBlue;
      text-transform: uppercase;
    }

    div {
      position: relative;
      @media (max-width: 768px) {
        display: none;
      }

      .navbar_logo_search_icon {
        position: absolute;
        font-size: 24px;
        color: $morentDarkGray;
        transform: translate(50%, 50%);
        cursor: pointer;

        &:first-of-type {
          left: 10px;
          top: -2.5px;
        }

        &:last-of-type {
          right: 30px;
          top: -2.5px;
        }
      }

      input {
        width: 492px;
        padding: 13px 2rem;
        border: 1px solid $morentNotifBrd;
        border-radius: 999px;

        &::placeholder {
          font-family: $pJakartaSans;
          font-weight: 500;
          padding-left: 20px;
        }
      }
    }
  }

  .navbar_user_notif {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    .navbar_notif_icons {
      width: 42px;
      height: 42px;
      border: 1px solid $morentNotifBrd;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      color: $morentDarkGray;
      cursor: pointer;

      @media (max-width: 768px) {
        display: none;
      }
    }

    div {
      img {
        width: 44px;
        height: 44px;
      }
    }
  }
}
