@import "../../styling/variables";

.car_card {
  width: 270px;
  height: 344px;
  background-color: $morentWhite;
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 0px #00000033;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px #00000033;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  .car_name__like_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: #000;

    div {
      h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        padding: 0;
        margin: 0;
      }
      p {
        line-height: 1;
        padding: 0;
        margin: 0;
        text-align: start;
        margin-top: 5px;
        font-size: 14px;
        color: $morentPlaceholderText;
        font-size: bold;
      }
    }

    .car_card_icon {
      cursor: pointer;
      font-size: 24px;

      .liked {
        color: red;
      }
    }
  }

  .car_details_img {
    .car_img {
      width: 100%;
      img {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        width: 95%;
        height: 100px;
        margin-inline: auto;
      }
    }

    .car_details {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $morentPlaceholderText;
      font-size: 14px;
      font-weight: 400;
      margin-top: 30px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        .car_details_icon {
          font-size: 20px;
        }
      }
    }
  }

  .car_price_button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      span {
        &:first-of-type {
          font-weight: bold;
          font-size: 20px;
        }
        &:last-of-type {
          font-size: 14px;
          color: $morentPlaceholderText;
        }
      }
    }
    .carBtn {
      background-color: $morentBlue;
      color: $morentWhite;
      cursor: pointer;
    }
  }
}
