@import "../../styling/variables";

.home {
  height: 100vh;
  width: 100%;

  main {
    padding: 4rem 5rem;
    height: max-content;
    background-color: $morentInputBg;
    padding-top: 2rem;

    @media (max-width: 768px) {
      padding: 2rem;
    }

    .main_container {
      margin: 0 auto;

      @media (max-width: 768px) {
        width: 100%;
      }

      .jumbotron {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .button_light_blue {
          background-color: $morentBlue2;
        }

        .button_dark_blue {
          background-color: $morentBlue;
        }

        .jumb_one {
          background-color: #54a6ff;
        }

        .jumb_backdrop_position {
          top: -100px;
          left: -110px;
        }
      }

      .pickup_dropoff {
        width: 100%;
        margin-top: 4rem;

        @media (max-width: 768px) {
          width: 90%;
          margin-inline:auto;
        }
      }

      .view_all_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        span {
          font-weight: 500;
          font-size: 16px;
          color: $morentPlaceholderText;
        }

        .view_all_btn {
          font-weight: 500;
          background-color: none;
          color: $morentBlue;
          cursor: pointer;
        }
      }
    }

    .btn_main_container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;

      .main_container_btn {
        background-color: $morentBlue;
        cursor: pointer;
        padding: 0px 18px;
        color: $morentWhite;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 10px 0px #00000033;
        }
      }
    }
  }
}
