@import "../../styling/variables";

footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 35px;
  }

  .main_footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid #13131316;
    padding-bottom: 40px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .main_footer_company {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      margin-top: 40px;

      @media (max-width: 768px) {
        margin-top: 10px;
      }
      span {
        font-size: 32px;
        font-weight: bold;
        color: $morentBlue;
        text-transform: uppercase;
        line-height: 1;
      }
      p {
        color: #13131360;
      }
    }

    .footer_nav {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: start start;
      gap: 6rem;

      @media (max-width: 768px) {
        gap: 1.5rem;
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      div {
        text-align: start;

        span {
          font-size: 20px;
          font-weight: 600;
        }
        ul {
          padding: 0;
          margin-top: 30px;

          li {
            margin-top: 25px;
            color: $morentLightGray;
          }
        }
      }
    }
  }

  .footer_dates {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .footer_links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6rem;

      @media (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}
