@import "../styling/variables";

@mixin button(
  $morentBlue,
  $morentWhite,
  $padding: 10px 20px,
  $border: none,
  $hover-bg-color: darken($morentBlue, 10%),
  $hover-text-color: $morentWhite
) {
  background-color: $morentBlue;
  color: $morentWhite;
  padding: $padding;
  border: $border;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: lighten($morentBlue, 10%);
  }
}
