@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// Font Family
$pJakartaSans: "Plus Jakarta Sans", sans-serif;

// Colors
$morentBlue: #3563e9;
$morentBlue2: #54a6ff;
$morentDarkGray: #596780; 
$morentLightGray: #13131360;
$morentBlack: #1a202c;
$morentPlaceholderText: #90a3bf;
$morentNotifBrd: #c3d4e9a4;
$morentInputBg: #f6f7f9;
$morentWhite: #ffffff;
