.sidebar {
    width: 250px;
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    background: #333;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  
    &.open {
      transform: translateX(0);
    }
  
    .inner {
      padding: 20px;
    }
  
    .toggle-btn {
      background: #444;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background: #555;
      }
    }
  
    .sidebar-section {
      margin-bottom: 20px;
  
      h4 {
        margin-bottom: 10px;
        font-size: 1.2rem;
      }
  
      .sidebar-item {
        display: block;
        width: 100%;
        padding: 10px;
        background: #444;
        color: #fff;
        border: none;
        text-align: left;
        cursor: pointer;
        margin-bottom: 5px;
  
        &:hover {
          background: #555;
        }
  
        span {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
  
  .progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px; /* Added for spacing */
  }
  
  .progress-bar {
    height: 24px;
    background-color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease;
  }
  
  .progress-bar-label {
    padding: 0 10px;
  }
  