.label{
    padding: 10px 0px;
    justify-content:center;
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    img{
        width: auto;
    }
    h2{
        font-weight: 600;
    }
    @media screen and (max-width: 768px) {
        img{
            width: auto;
        }
        h3{
            font-size: 15px;
        }
    }
}